*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:url(img/halaman1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #1b0505;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold; /* Menambahkan garis tebal */
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #365cf4;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box {
    width: 90%;
    color: rgb(66, 52, 175);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* background putih transparan */
    padding: 20px; /* kasih jarak antara teks dan pinggiran background */
    border-radius: 10px; /* biar sudut background agak membulat */
}

.text-box h1{
    font-size: 55px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: rgb(44, 18, 18);
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 251, 251);
    border: 5px solid rgb(255, 255, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #4997e6b7;
    background:#4997e6b7;
    transition: 1s;
}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #4997e6b7;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/* --- DROPDOWN MENU --- */
.nav-links ul li {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #365cf4;
    min-width: 150px;
    z-index: 3;
    border-radius: 5px;
    top: 40px;
    right: 0;
}

.dropdown-content a {
    color: #fff;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-content a:hover {
    background-color: #2c4cc4;
}

.nav-links ul li:hover .dropdown-content {
    display: block;
}

/* Dropdown Mobile View */
@media (max-width: 700px) {
    .dropdown-content {
        position: relative;
        background-color: transparent;
        top: 0;
        right: 0;
        min-width: 100%;
        border-radius: 0;
    }

    .dropdown-content a {
        padding-left: 25px;
        background-color: #4997e6b7;
        border-bottom: none;
    }

    .nav-links ul li:hover .dropdown-content {
        display: block;
    }
}


/*----- Course -----*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: rgb(37, 37, 37);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #accff8;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgb(255, 225, 191);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}

/*----- campus -----*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: #4997e6b7;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 1s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

/*------ facilities -----*/

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----- testimonials -----*/

.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #accff8;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;
}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
}
@media(max-width: 700px){
    .testimonials-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}

.cta{
    margin: 100px auto;
    width: 80%;
    background-image:url(img/halaman2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #242a9f;
    margin-bottom: 40px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.7); /* background putih transparan */
    padding: 20px; /* kasih jarak antara teks dan pinggiran background */
    border-radius: 10px; /* biar sudut background agak membulat */
}

@media(max-width: 700px){
    .cta h1{
        font-size: 20px;
    }
}

/*----- footer -----*/

.footer{
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    color: #accff8;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}